@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-orange: #ff8c00;
  --color-dark: #1a1a1a;
  --color-light: #e0e0e0;
  --color-blue: #00ced1;
}

body {
  @apply bg-dark text-light font-sans;
  font-family: "Inter", sans-serif;
}

.title {
  @apply text-5xl font-semibold bg-gradient-to-r from-orange-300 via-orange-500 to-[#ff8c00] bg-clip-text text-transparent;
}
