---
---

<section
  class="flex flex-col justify-center items-center gap-10 p-5 min-h-screen w-full mx-auto"
>
  <h2 class="title">Experiencia</h2>

  {/* Contenedor principal de la timeline */}
  <div
    class="relative w-full max-w-3xl mx-auto flex flex-col gap-12
           before:content-[''] before:absolute before:top-2 before:left-4 md:before:left-1/2 before:w-0.5 before:h-full before:bg-orange-400/50"
  >
    {/* -- Primer elemento de la timeline -- */}
    <div class="relative pl-12 md:pl-0">
      {/* Círculo en la línea de tiempo y Título */}
      <h3
        class="text-2xl font-semibold md:w-1/2 md:text-right md:pr-12
               before:content-[''] before:absolute before:top-2 before:left-4 md:before:left-1/2 before:-translate-x-1/2 before:w-4 before:h-4 before:bg-orange-500 before:rounded-full before:border-2 before:border-gray-900"
      >
        Desarrollador Web - Freelance
      </h3>

      {/* Contenido del elemento */}
      <div class="md:w-1/2 md:ml-auto md:pl-12">
        <p class="italic text-orange-300/80 mt-1">Enero 2022 - Presente</p>
        <ul class="list-disc list-inside mt-2 space-y-1 text-gray-300">
          <li>
            Desarrollo de sitios web personalizados para pequeñas empresas y
            emprendedores.
          </li>
          <li>
            Implementación de soluciones de comercio electrónico utilizando
            plataformas como Shopify y WooCommerce.
          </li>
          <li>
            Optimización SEO para mejorar la visibilidad en motores de búsqueda.
          </li>
        </ul>
      </div>
    </div>

    {/* -- Segundo elemento de la timeline -- */}
    <div class="relative pl-12 md:pl-0">
      {/* Círculo en la línea de tiempo y Título */}
      <h3
        class="text-2xl font-semibold md:w-1/2 md:text-right md:pr-12
               before:content-[''] before:absolute before:top-2 before:left-4 md:before:left-1/2 before:-translate-x-1/2 before:w-4 before:h-4 before:bg-orange-500 before:rounded-full before:border-2 before:border-gray-900"
      >
        Prácticas en Desarrollo Web - Tech Solutions
      </h3>

      {/* Contenido del elemento */}
      <div class="md:w-1/2 md:ml-auto md:pl-12">
        <p class="italic text-orange-300/80 mt-1">
          Junio 2021 - Diciembre 2021
        </p>
        <ul class="list-disc list-inside mt-2 space-y-1 text-gray-300">
          <li>
            Colaboración en el desarrollo de una aplicación web interna
            utilizando React y Node.js.
          </li>
          <li>
            Participación en reuniones de equipo y revisión de código para
            asegurar la calidad del software.
          </li>
          <li>
            Aprendizaje y aplicación de mejores prácticas en desarrollo ágil.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
